@font-face {
    font-family: 'Circe Light';
    src: url('../fonts/circelight/Circe-Light.eot');
    src: url('../fonts/circelight/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circelight/Circe-Light.woff') format('woff'),
    url('../fonts/circelight/Circe-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/circelight/Circe-Bold.eot');
    src: url('../fonts/circelight/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circelight/Circe-Bold.woff') format('woff'),
    url('../fonts/circelight/Circe-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Circe Regular';
    src: url('../fonts/circelight/Circe-Regular.eot');
    src: url('../fonts/circelight/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circelight/Circe-Regular.woff') format('woff'),
    url('../fonts/circelight/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Thin';
    src: url('../fonts/circelight/Circe-Thin.eot');
    src: url('../fonts/circelight/Circe-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circelight/Circe-Thin.woff') format('woff'),
    url('../fonts/circelight/Circe-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}